
ul li {list-style-type: none;
  
}
.iconsize{
    color: lightblue !important;
}
ul li a {
    text-decoration: none !important;
}

.MuiTypography-body1{
    padding-left: 100%;
    font-size: 18px !important;
}
