.menu-style{
    position: fixed;
    top:10%;
    width: 20%;
    padding-left: 10px;
    overflow-x: auto;
    height: 100%;
    scrollbar-width:none;
}
@media screen and (max-width: 700px) {
    .menu-style {
      width: 100%;
      height: auto;
      position: relative;
    }
  }
.browse__sidebar {
    min-height: 150px;
    width: 280px;
}
ul{
    padding-right: 0;
}
ul li {list-style-type: none;}
.iconsize{
    color: lightblue !important;
}
ul li a {
    text-decoration: none !important;
}
.MuiTypography-body1{
    padding-left: 100%;
    font-size: 14px !important;
}
.MuiSvgIcon-root{
    background-color: white;
}
.css-mr{
    margin-right: 90%;
}

