.textStyle{
    position: absolute;
    left: 60%;
    width: 40%;
    font-size: large;
    height: 100%;
    text-align: center;
    background: whitesmoke;
}
.hr{
    width: 70%;
    border:solid 0.3px lightblue;
}
.logo{
    width: 20%;
    height:20%;
    margin:5px;
}
.bold{
    font-weight: bold;
}
.iconsize{
    margin:10px;
    background-color: whitesmoke;
}
.size-w{
    width: 120%;
}
.position-city{
    padding-right:40%;
    margin: 10px;
    font-size: large;
    text-align: center;
}
.position-input{
    position: relative;
    right: 45%;
    top:30px;
}
.icon-root{
    padding: 10px 40px;
    display: flex;
    alignItems: 'center';
    width: 60%;
}
.search-input{
    flex: 1;
}
.iconButton {
    padding: 10px;
}
.border-city:hover {
   color: whitesmoke;
    text-decoration:none;
    background-color: lightblue;
}
.border-city{
    background-color: whitesmoke;
    border-radius: 5px;
    padding:15px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width:100%;
    color: #0f0f0f;
}
.type-list{
    list-style: none;
    color:black;

}
.pos-h2{
  text-align: right;
    padding-right: 42%;
}