.bold {
    font-weight: bold;
}
.font-iran-sans {
    font-family: IRANSans !important;
}

.right-dir {
    direction: rtl !important;
}

.right-txt {
    text-align: right !important;
}
.center-text {
    text-align: center !important;
}
body{
	direction: rtl;
}
