.navbar-logo{
    float: right;
    height: 30px;
    padding-left: 30px;
}
.topnav {
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;


}
.topnav  a{
    float: right;
    display: block;
    color: #0f0f0f;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

.navbar-item {
    color: black !important;
    background-color: whitesmoke;
    margin: 10px 5px 0 5px;
    padding: 5px 5px;
    transition: 500ms;
}
.navbar-item:hover{
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    text-decoration: none;
    background-color: lightblue;
    color: white;
    margin-bottom: 0 !important;
}
navbar-item:after{
    text-decoration: none;
}
.active {
    color: white;
  }
.icon-search:hover{
    background-color: lightblue;
}

.hr-nav{
    width: 100%;
    border:solid 0.2px lightblue;
    height: 0px;

}